In [1]:
import requests
from bs4 import BeautifulSoup
import string
import re
import pandas as pd

In [30]:
url = 'http://www.people-press.org/2017/06/22/public-views-about-guns/#all'

response=requests.get(url)
page=response.text

soup=BeautifulSoup(page,"html5lib")

In [3]:
# tables=soup.find_all(class_='region-holder datatable')

### Grab Overall table

In [64]:
table = soup.find_all(class_='total-holder datatable')
df = pd.read_html(str(table))
df = df[0]
df

,Unnamed: 0,12/5/93,5/16/99,6/14/99,3/19/00,4/16/00,5/6/00,6/8/03,2/16/04,4/22/07,...,7/29/12,12/19/12,1/13/13,2/18/13,5/5/13,2/9/14,12/7/14,7/20/15,8/16/16,4/7/17
0,Total rights,35,30,33,29,37,38,42,37,32,...,46,42,45,46,48,49,52,47,52,47
1,Total control,57,65,62,67,55,57,54,58,59,...,47,49,51,50,50,48,46,50,46,51

In [65]:
df.rename(columns={'Unnamed: 0':'issue'},inplace=True)

In [66]:
df['issue'] = [x.split(' ')[1] for x in df['issue']]
df.set_index('issue',inplace=True)

In [67]:
df.head()

,12/5/93,5/16/99,6/14/99,3/19/00,4/16/00,5/6/00,6/8/03,2/16/04,4/22/07,11/26/07,...,7/29/12,12/19/12,1/13/13,2/18/13,5/5/13,2/9/14,12/7/14,7/20/15,8/16/16,4/7/17
issue,,,,,,,,,,,,,,,,,,,,,
rights,35,30,33,29,37,38,42,37,32,42,...,46,42,45,46,48,49,52,47,52,47
control,57,65,62,67,55,57,54,58,59,54,...,47,49,51,50,50,48,46,50,46,51

In [68]:
df = df.T

In [70]:
df = pd.DataFrame({'date':df.index,'rights_poll':df.values[:,0], 'control_poll':df.values[:,1]})
df['date'] = pd.to_datetime(df['date'])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
control_poll    28 non-null int64
date            28 non-null datetime64[ns]
rights_poll     28 non-null int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 752.0 bytes

In [73]:
cols = ['date','rights_poll','control_poll']

df = df.loc[:, cols]
df

         date  rights_poll  control_poll
0  1993-12-05           35            57
1  1999-05-16           30            65
2  1999-06-14           33            62
3  2000-03-19           29            67
4  2000-04-16           37            55
5  2000-05-06           38            57
6  2003-06-08           42            54
7  2004-02-16           37            58
8  2007-04-22           32            59
9  2007-11-26           42            54
10 2008-04-27           38            58
11 2009-04-21           45            49
12 2010-03-14           46            46
13 2010-09-06           46            50
14 2011-01-16           49            46
15 2011-03-01           48            47
16 2011-10-04           47            49
17 2012-04-15           49            45
18 2012-07-29           46            47
19 2012-12-19           42            49
20 2013-01-13           45            51
21 2013-02-18           46            50
22 2013-05-05           48            50
23 2014-02-09           49            48
24 2014-12-07           52            46
25 2015-07-20           47            50
26 2016-08-16           52            46
27 2017-04-07           47            51

In [75]:
df.to_csv('../data/pew_overall.csv')

### By Region

In [115]:
table = soup.find_all(class_='region-holder datatable')
df = pd.read_html(str(table))
df = df[0]
df

,Unnamed: 0,12/5/93,5/16/99,6/14/99,3/19/00,4/16/00,5/6/00,6/8/03,2/16/04,4/22/07,...,7/29/12,12/19/12,1/13/13,2/18/13,5/5/13,2/9/14,12/7/14,7/20/15,8/16/16,4/7/17
0,Northeast rights,27,25,23,18,31,32,32,26,24,...,32,29,38,37,34,44,36,37,46,39
1,Northeast control,66,70,72,78,60,66,62,70,69,...,59,65,56,58,65,54,58,59,52,59
2,Midwest rights,33,31,36,33,37,42,41,42,33,...,46,45,48,50,54,53,58,51,58,53
3,Midwest control,60,65,58,63,57,52,55,54,60,...,47,45,48,45,44,46,40,46,40,43
4,South rights,39,30,33,32,39,41,43,41,37,...,53,48,47,49,52,50,56,51,55,49
5,South control,51,64,61,62,52,55,54,53,54,...,43,44,49,48,46,47,41,46,42,49
6,West rights,36,33,38,27,38,36,50,36,33,...,48,40,43,44,48,51,50,45,45,43
7,West control,55,60,59,69,53,56,45,59,59,...,46,48,53,52,49,46,49,52,53,55

In [116]:
df.rename(columns={'Unnamed: 0':'Region_issue'},inplace=True)

In [117]:
df['region'] = [x.split(' ')[0] for x in df['Region_issue']]
df['issue'] = [x.split(' ')[1] for x in df['Region_issue']]

In [118]:
df.drop('Region_issue',axis=1,inplace=True)

In [119]:
cols = ['region', 'issue','12/5/93', '5/16/99', '6/14/99', '3/19/00', '4/16/00', '5/6/00',
       '6/8/03', '2/16/04', '4/22/07', '11/26/07', '4/27/08', '4/21/09',
       '3/14/10', '9/6/10', '1/16/11', '3/1/11', '10/4/11', '4/15/12',
       '7/29/12', '12/19/12', '1/13/13', '2/18/13']
df = df.loc[:, cols]
df

,region,issue,12/5/93,5/16/99,6/14/99,3/19/00,4/16/00,5/6/00,6/8/03,2/16/04,...,3/14/10,9/6/10,1/16/11,3/1/11,10/4/11,4/15/12,7/29/12,12/19/12,1/13/13,2/18/13
0,Northeast,rights,27,25,23,18,31,32,32,26,...,36,36,37,36,37,36,32,29,38,37
1,Northeast,control,66,70,72,78,60,66,62,70,...,57,60,58,59,58,57,59,65,56,58
2,Midwest,rights,33,31,36,33,37,42,41,42,...,48,52,50,53,52,50,46,45,48,50
3,Midwest,control,60,65,58,63,57,52,55,54,...,44,44,40,42,42,43,47,45,48,45
4,South,rights,39,30,33,32,39,41,43,41,...,51,49,51,52,50,57,53,48,47,49
5,South,control,51,64,61,62,52,55,54,53,...,42,48,45,41,46,38,43,44,49,48
6,West,rights,36,33,38,27,38,36,50,36,...,46,44,53,44,44,46,48,40,43,44
7,West,control,55,60,59,69,53,56,45,59,...,47,50,43,51,51,48,46,48,53,52

In [120]:
df.set_index('region',inplace=True)

In [121]:
df_rights = df[df.issue=='rights'].copy()
df_control = df[df.issue=='control'].copy()

In [122]:
df_rights.drop(labels='issue',axis=1,inplace=True)
df_control.drop(labels='issue',axis=1,inplace=True)

In [123]:
df_rights = df_rights.T
df_control = df_control.T

In [124]:
df_rights.reset_index(level=0, inplace=True)
df_control.reset_index(level=0, inplace=True)

In [125]:
df_rights.rename(columns={'index':'date'},inplace=True)
df_rights['date'] = pd.to_datetime(df_rights['date'])

df_control.rename(columns={'index':'date'},inplace=True)
df_control['date'] = pd.to_datetime(df_control['date'])

In [129]:
# df_rights.to_csv('../data/pew_reg_gun_rights_public.csv')
# df_control.to_csv('../data/pew_reg_gun_control_public.csv')